.login-root {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #f5f5f5, #d1d3cd);

  .row {
    height: 100%;

    .login-box {
      .login-header {
        margin-bottom: 24px;
        .login-title {
          font-size: 32px;
          text-align: center;
          margin-bottom: 0;
          background: linear-gradient(to right, #99479e, #de3c70);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          &.title-main {
            font-weight: 700;
          }

          &.title-secondary {
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
      .login-form {
        font-size: 17px;
        .form-group {
          label {
            display: inline-block;
            width: 100%;
            margin-bottom: 8px;
            letter-spacing: 0.04em;
            font-weight: 500;
          }

          .input-field {
            width: 100%;
            border-radius: 4px;
            height: 48px;
            padding-left: 30px;
            border-radius: 6px;
            border: 1px solid #dae1e8;
            color: #6c757d;
            outline: none;
            &:focus {
              outline: 1px solid #6c757d;
            }
          }
        }

        .form-remember {
          margin-bottom: 16px;
          font-weight: 500;
          display: flex;
          align-items: center;

          .remember-checkbox {
            display: none;
          }

          /* Tạo new checkbox */
          .remember-checkbox-label {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #6c757d;
            background-color: #fff;
            border-radius: 3px;
            position: relative;
            cursor: pointer;
          }

          /* Hiển thị dấu check khi checkbox được chọn */
          .remember-checkbox:checked + .remember-checkbox-label::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 35%;
            width: 6px;
            height: 12px;
            border: solid #4c3575;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
          }
        }

        .form-button {
          text-align: center;
          .login-button {
            width: 100%;
            height: 46px;
            padding: 0 24px;
            border-radius: 4px;
            border: none;
            background: #4c3575;
            opacity: 0.9;
            color: #fff;
            letter-spacing: 0.1em;
            margin-bottom: 16px;
            font-weight: 600;

            &.login-with-google {
              background: #6c757d;
              display: flex;
              justify-content: center;
              align-items: center;
              column-gap: 8px;
              letter-spacing: 0;
              font-weight: 400;
            }
            &:hover {
              opacity: 1;
            }

            &:disabled {
              opacity: 0.3;
              cursor: no-drop;
            }
          }
        }
      }

      .login-footer {
        margin-bottom: 88px;
        text-align: center;
        color: #9399a1;

        .hotel-name {
          color: #de3c70;
        }
      }
    }
  }
}
