.admin-container {
  display: flex;
  background: linear-gradient(to bottom, #f5f5f5, #d1d3cd);

  .admin-content {
    .admin-header-root {
      // background-color: #fff;
    }
    .admin-main {
      height: calc(100vh - 56px);
      .mx-4 {
        // background: #ef8d8d;
      }
    }
  }
}
