.admin-header-container {
  color: #6c757d;
  .admin-header-toggle {
    button {
      border-color: #dee2e6;
      padding: 3px 5px;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .admin-header-search-form {
    position: relative;
    #header-admin-search-input {
      width: 338px;
      margin: 0 auto;
      height: 36px;
      padding-left: 30px;
      border-radius: 6px;
      border: 1px solid #e4e7ea;
      outline: none;
      &:focus {
        outline: 1px solid #6c757d;
      }
    }
    .btn {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      margin: 0 0 0 8px;
      color: #6c757d;
    }
  }
  .admin-header-menu {
    font-weight: 600;
    .admin-header-menu-list {
      .notification {
        position: relative;

        .number {
          position: absolute;
          left: 14px;
          top: -6px;
          font-size: 12px;
          background: #e20b3a;
          color: #fff;
          width: 20px;
          height: 20px;
          border-radius: 999px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .language {
        position: relative;
        .language_selected {
          position: absolute;
          left: 14px;
          top: -6px;
          font-size: 12px;
          color: #fff;
          width: 24px;
          height: 16px;
          border-radius: 2px;
          border: 1px #6c757d solid;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:active {
          color: #e20b3a;
        }
        .dropdown-toggle::after {
          display: none;
        }
        .dropdown-menu {
          &.show {
            .dropdown-item {
              text-align: center;
              color: #4c3575;
              &:hover {
                background-color: #f0f0f0;
              }
              &:active {
                background-color: #f0f0f0;
                color: #6c757d;

                border-radius: 8px;
              }
            }
          }
        }
      }
    }
    .gap {
      width: 1px;
      height: 18px;
      background-color: #6c757d;
    }
    .employee-info {
      .employee-avatar {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #dee2e6;
      }
    }
  }
}
