.manage-user-root {
  .manage-user-title {
  }
  .manage-user-main {
  }
}

// css component ModalCreateUser
// trước tiên phải sang ModalCreateUser để thêm className "modal-add-user" mới css được
.modal-add-user {
  .form-label {
    &.label-upload {
      display: inline-flex;
      justify-content: left;
      align-items: center;
      column-gap: 8px;
      border-radius: 8px;
      background-color: #dee2e6;
      padding: 6px 12px;
      cursor: pointer;
      .plus {
        font-weight: 800;
        display: inline-block;
        width: 24px;
        height: 24px;
        font-size: 20px;
        background-color: #198754;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
      }
    }
  }

  .img-preview {
    height: 200px;
    border: 1px dashed #e20b3a;
    color: #6c757d;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 190px;
      width: auto;

      object-fit: cover;
    }
  }
}
